.footer {
    background-color: #000;
}

.footer-container {
    max-width: 1200px;
    padding: 120px 20px 60px 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 60px;
    align-items: center;
}

.footer-texto {
    grid-template-columns: 1 /-1;
    font-family: 'Poppins';
    font-size: 1.35rem;
    line-height: 1.33;
    color: #cccccc;
}

.footer-contato {
    display: flex;
    margin: 0 auto;
    align-items: center;
}

 .footer-copy {
    font-size: 1.125rem;
    font-weight: bold;
    color: #8f8f8f;
    text-align: center;
}

 .redes {
    font-size: 4rem;
    color: #281e3fa8;
    text-align: center;
    text-transform: uppercase;
}

.footer-contato img {
    display: flex;
    width: 34px;
    height: 34px;
    padding: 16px;
}

.footer-contato img:hover{
    transform: scale(1.2);
    transition: 0.3s;
}



@media (max-width: 900px) {
    .footer-container {
        grid-template-columns: 1fr;
        gap: 20px;
        text-align: center;
        padding: 60px 20px;
    }



}

