.introducao {
    max-width: 1200px;
    padding: 40px 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 100px;
    align-items: center;
}


.introducao h1 {
    font-size: 4.5rem;
    line-height: 1.125;
    margin-bottom: 30px;
    position: relative;
}

.introducao h1::before {
    content: '';
    display: block;
    width: 130px;
    height: 100px;
    background: url(/img/detalhe.svg) no-repeat center;
    position: absolute;
    top: -11px;
    left: -80px;
}


.introducao p {
    font-size: 1.5rem;
    color: #525252;
    margin-top: 30px;
}

.introducao-redes {
    display: flex;
    gap:  20px;
    margin-top: 30px;
}

.introducao-redes img:hover {
    transform: scale(1.2);
    transition: 0.3s;
}



@media (max-width: 1000px) {
    .introducao h1 {
        font-size: 3rem;
    }
}

@media (max-width: 800px) {
    .introducao {
        grid-template-columns: 1fr 1fr;
        gap: 40px;
    }
    .introducao h1 {
        font-size: 2rem;
    }

    .introducao h1::before {
        width: 10px;
        height: 10px;
        left: 0px;
    }
}

@media (max-width: 450px) {
    .introducao {
        grid-template-columns: 1fr;
    }
    .introducao .foto {
        display: none;
    }
}

